extends ../layout

block content
  video(src='/' + video.fileUrl, controls, width='85%')
  #videoController
    i#playOnOff.fa-solid.fa-play
    i#muteOnOff.fa-solid.fa-pause
    
    button#muteOnOff 🔊
    input(type="range", name="volumeRange")
    #loadingTime 
      span#currentTime 00:00
      span |
      span#totalTime 00:00
  div 
    p=video.description
    small=video.createdAt
  div 
    small Uploaded by 
      a(href=`/users/${video.owner._id}`)=video.owner.name
  if String(video.owner._id) === String(loggedInUser._id) 
    a(href=`${video.id}/edit`) Edit
    br
    a(href=`${video.id}/delete`) Delete 

block scripts
  script(src='/assets/js/videoPlayer.js')